source https://nuget.org/api/v2

nuget FSharp.Core >= 4.0
nuget FSharp.Formatting
nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget FAKE
nuget SourceLink.Fake

nuget Rx-WPF
nuget FsXaml.Wpf
nuget gong-wpf-dragdrop

github fsharp/FAKE modules/Octokit/Octokit.fsx
github fsprojects/Chessie src/Chessie/ErrorHandling.fs