type project
owners
    theor
authors 
    theor
projectUrl
    http://github.com/theor/FSharp.Qualia
iconUrl
    https://raw.githubusercontent.com/theor/FSharp.Qualia/master/docs/files/img/logo.png
licenseUrl
    http://github.com/theor/FSharp.Qualia/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ui wpf framework
summary
    WPF specific utils for FSharp.Qualia
description
    Description not set


